.ngx-cursor-c {
  img {
    margin: 20px 0;
  }
  a {
    cursor: pointer;
  }

  &__listlink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
      padding: 5px 0;
      margin: 10px 0;
    }
  }
}
