<section class="ngx-field-errors">
  <h1>Reactive errors for field (ngx-field-errors)</h1>

  <form action="" [formGroup]="form" markAllAsTouched>
    <div class="list">
      <!--  -->
      <div class="item">
        <h2>String</h2>
        <input-txt [fg]="form" id="field1" label="No validator"></input-txt>
        <input-txt
          [fg]="form"
          id="field2"
          label="Validator Required"
        ></input-txt>
        <input-txt
          [fg]="form"
          id="field3"
          label="Validator MinLegth (5)"
        ></input-txt>
        <input-txt [fg]="form" id="field4" label="Validator Email"></input-txt>
        <input-txt
          [fg]="form"
          id="field6"
          label="Validator Pattern ([a-z]*)"
        ></input-txt>
        <input-txt
          [fg]="form"
          id="field5"
          label="Validator Zipcode"
        ></input-txt>
      </div>

      <!--  -->
      <div class="item">
        <h2>Number</h2>
        <input-txt
          [fg]="form"
          type="number"
          id="field7"
          label="Validator max (12)"
        ></input-txt>
        <input-txt
          [fg]="form"
          type="number"
          id="field8"
          label="Validator min (12)"
        ></input-txt>
      </div>

      <!--  -->
      <div class="item">
        <h2>Checkbox</h2>
        <div>
          <label for="field10">Validators Required true</label>
          <input
            type="checkbox"
            id="field10"
            formControlName="field10"
            [formError]="form.get('field10')"
          />
        </div>

        <!--  -->
        <br />
        <div>
          <div formArrayName="field11" class="error-container">
            <label
              *ngFor="let order of checboxFormArray.controls; let i = index"
            >
              <input
                type="checkbox"
                [formControlName]="i"
                [formError]="form.controls.field11"
              />
              {{ checkboxData[i].name }}
              <br />
            </label>
          </div>
        </div>
      </div>

      <!--  -->
      <div class="item">
        <h2>Select</h2>
      </div>

      <!--  -->
    </div>
    <br /><br />
    <button type="submit">submit</button>
  </form>
</section>
