.ngx-field-errors {
  padding: 20px 0;

  h1 {
    font-size: 36px;
    padding: 0 0 30px 0;
    font-weight: 700;
  }

  h2 {
    font-size: 24px;
    padding: 20px 0 10px 0;
    font-weight: 500;
  }

  .list {
    display: flex;
    transform: translateX(-10px);
    width: calc(100% + 20px);
    flex-wrap: wrap;
  }
  .item {
    // width: calc(25%);
    flex-basis: 23%;
    margin: 0 10px;
  }

  .parent-field-error {
    color: #971010;
  }
}
