<section>
  <div class="title">Simple Slider</div>

  <section class="slider" *ngIf="loaded">
    <div simpleSlider id="slider">
      <div *ngFor="let item of sliderData"><img [src]="item.img" alt="" /></div>
    </div>

    <button id="prev">previous</button>
    <button id="next">next</button>
  </section>

  <div class="title">Simple Slider with style</div>
  <div class="slider" *ngIf="loaded">
    <div
      simpleSlider
      currentSlide="customIdForCurrentSlide"
      prev="customIdPrevBtn"
      next="customIdNextBtn"
      [transitionTime]="300"
      [automatic]="true"
    >
      <div *ngFor="let item of sliderData"><img [src]="item.img" alt="" /></div>
    </div>

    <button class="slider__prev" id="customIdPrevBtn">previous</button>
    <button class="slider__next" id="customIdNextBtn">next</button>
    <div class="slider__current" id="customIdForCurrentSlide"></div>
    <div class="slider__paginated" id="paginate">
      <button
        *ngFor="let item of sliderData; let k = index"
        [attr.data-slide]="k + 1"
        role="button"
        aria-label="Go to slide 1"
        [class.active]="k === 0"
      >
        {{ k + 1 }}
      </button>
    </div>
  </div>

  <div class="ensemble">
    <div class="source-code">
      HTML :
      {{ html }}
    </div>
    <div class="source-code">
      SCSS :
      {{ scss }}
    </div>
  </div>
</section>
