.slider {
  position: relative;

  &__item {
    height: 600px;
    position: relative;

    @media (max-width: 800px) {
      height: 250px;
    }

    img {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &__prev,
  &__next,
  &__current {
    appearance: none;
    background-color: #303f9f;
    border: 0;
    bottom: 0;
    color: #fff;
    font-size: 15px;
    line-height: 1;
    padding: 15px;
    position: absolute;
    z-index: 2;
  }

  &__prev,
  &__next {
    &:hover {
      background-color: #ffc107;
      color: #212121;
    }
  }

  &__prev {
    left: 0;
  }
  &__next {
    right: 0;
  }
  &__current {
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
    z-index: 1;
  }
}

.ensemble {
  display: flex;
  flex-wrap: wrap;

  > div {
    flex: 1;
    margin: 10px;
  }
}
