<section>
  <div class="title">Simple Slider</div>

  <div class="slider">
    <div simpleSlider id="slider">
      <div><img src="/assets/1.jpg" alt="" /></div>
      <div><img src="/assets/2.jpg" alt="" /></div>
      <div><img src="/assets/3.jpg" alt="" /></div>
    </div>

    <button id="prev">previous</button>
    <button id="next">next</button>
  </div>

  <div class="title">Simple Slider with style</div>
  <div class="slider">
    <div
      simpleSlider
      currentSlide="customIdForCurrentSlide"
      prev="customIdPrevBtn"
      next="customIdNextBtn"
      [time]="300"
    >
      <div class="slider__item">
        <img src="/assets/1.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="/assets/2.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="/assets/3.jpg" alt="" />
      </div>
    </div>

    <button class="slider__prev" id="customIdPrevBtn">previous</button>
    <button class="slider__next" id="customIdNextBtn">next</button>
    <div class="slider__current" id="customIdForCurrentSlide"></div>
  </div>
  <div class="ensemble">
    <div class="source-code">
      HTML :
      {{ html }}
    </div>
    <div class="source-code">
      SCSS :
      {{ scss }}
    </div>
  </div>
</section>
